.User {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
        margin-top: -1px;
    }
    
}

.User__Infor {
    span {
        margin-left: -220px;
    }

    p {
        margin-top: -1px;
        margin-left: -220px;
        font-size: 25px;
        font-weight: bold;
    }
}

.Title {
    font-weight: bold;
    font-size: 17px;
    line-height: 0.5px;
    margin-left: 15px;
}

.subTitle {
    margin-left: 15px;
    font-size: 13px;
}

.Note {
    font-size: 12px;
    opacity: 0.44;
    margin-bottom: 30px;
    margin-top: 25px;

    span {
        margin-left: 5px;
    }
}

.custom-dots {
    display: flex!important;
    justify-content: center;

    li {
        list-style: none;
        text-decoration: none;
        margin-right: 2px;
        background-color: slategray;
        &:hover {
            background-color: red;
        }
    }

    .slick-active {
        background-color: mintcream!important;
    }
}